nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1000;
  transition: 0.4s ease-in-out;
}

nav.scrolled-nav {
  background-color: #401F68;
  box-shadow: 0 10px 10px black;
}

.nav-container {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;
}

/*left*/
.nav-left {
  display: flex;
  gap: 20px;
}

.nav-left a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: 0.2s;
}

.nav-left a:hover {
  color: #E4E0EE;
}

/*logo*/
.nav-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-logo a {
  font-size: 30px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/*right*/
.nav-right a {
  display: block;
  background-color: white;
  color: #62466b;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  transition: 0.2s;
}

.nav-right a:hover {
  background-color: #E4E0EE;
  color: #401F68;
}