:root,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: none;
  /* This removes the 1280px limit Vite often sets */
  display: block;
  /* This stops the "centering" behavior */
  text-align: left;
  /* Resets the default center alignment */
}

main {
  width: 100%;
  box-sizing: border-box;
  /* Ensures padding doesn't push the page off-screen */
  padding: 150px 25px;
}

#root {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  background-color: #0e0e10;
  color: white;
}

main {
  height: 100%;
  padding: 100px 25px 50px 25px;
  color: white;

  h1 {
    text-align: Left;
    font-size: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  h2 {
    text-align: Left;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  h3 {
    margin-top: 0;
    text-align: Left;
    font-size: 25px;
    background-color: #26262c;
  }

  p {
    text-align: Left;
    font-size: 15px;
    color: #a1a1aa;
    background-color: #26262c;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-bottom: 30px;
  }

  .grid-container>div {
    background-color: #26262c;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }

  .buttonstyle {
    background-color: #4E2A84;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.2s;
  }

  .buttonstyle:hover {
    background-color: white;
    color: #4E2A84;
  }

  .button-row {
    display: flex;
    gap: 10px;
    justify-content: left;
    margin-top: 15px;
  }

  .join-button {
    background-color: transparent;
    border: 1px solid white;
  }

  .join-button.active {
    background-color: #287e29;
    color: white;
    border-color: white;
  }

  .join-button:not(.active):hover {
    background-color: #287e29;
    color: white;
  }

  .group {
    transition: 0.3s;
  }

  .group:hover {
    transform: translateY(-5px);
  }
}