:root, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: none;    /* This removes the 1280px limit Vite often sets */
  display: block;     /* This stops the "centering" behavior */
  text-align: left;   /* Resets the default center alignment */
}

main {
  width: 100%;
  box-sizing: border-box; /* Ensures padding doesn't push the page off-screen */
  padding: 150px 25px;
}

#root {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  background-color: #0e0e10;
  color: white;
}

nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1f1a23;
  z-index: 1000;

  .nav-container {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
  }

  /*left*/
  .nav-left {
    display: flex;
    gap: 20px;
  }

  .nav-left a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 0.2s;
  }

  .nav-left a:hover {
    color: #cbbad1;
  }

  /*logo*/
  .nav-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .nav-logo a {
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  /*right*/
  .nav-right a {
    display: block;
    background-color: white;
    color: #62466b;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: 0.2s;
  }

  .nav-right a:hover {
    background-color: #cbbad1;
    color: #1f1a23;
  }
}

main {
  height: 100%;
  padding: 100px 25px 50px 25px;
  color: white;

  h1 {
    text-align: Left;
    font-size: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  h2 {
    text-align: Left;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  h3 {
    margin-top: 0;
    text-align: Left;
    font-size: 25px;
    background-color: #62466b;
  }

  p {
    text-align: Left;
    font-size: 15px;
    background-color: #62466b;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-bottom: 30px;
  }

  .grid-container>div {
    background-color: #62466b;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }

  .buttonstyle {
    background-color: #1f1a23;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.2s;
  }

  .buttonstyle:hover {
    background-color: white;
    color: #1f1a23;
  }
}