footer {
  width: 100%;
  background-color: #401F68; /* Matching your Navbar color */
  color: white;
  padding: 40px 0;
  margin-top: auto; /* Pushes footer to bottom if page is short */
  box-shadow: 0 10px 10px black
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%; /* Or match your Navbar width */
  margin: 0 auto;
  padding: 0 25px;
}

.footer-left {
  padding: 0px 40px;  
}

.footer-left h2 {
  font-size: 40px;
  font-weight: 400; 
  margin: 0;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  gap: 10px;
}

.footer-icons {
  display: flex;
  gap: 15px;
}

.footer-icons a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  transition: 0.2s;
}

.footer-icons a:hover {
  color: #E4E0EE; 
}

.footer-email {
  font-size: 14px;
}